{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'css/zero.css' %}" rel="stylesheet" />

  </head>

  <body>
    <header class="header">
      <nav class="nav">
        {% block mainmenu %}
        <div class="nav__logo"> <a href="{% url 'index' %}"><img class="nav__logo-logo" src="{% static 'logo/Bastausvg.svg' %}" alt=""></a> </div>
        <ul class="nav__menu">
          {% for item in menu %}
          {% if not forloop.last %}
          <li><a href="{% url item.url_name %}">{{item.title}}</a></li>
          {% else %}
          <li><a href="{% url item.url_name %}">{{item.title}}</a></li>
          {% endif%}
        {% endfor %}
        {% if request.user.is_authenticated %}
            {% if request.user.is_student %}
            <li class="last"> {{user.email}} | <a href="{% url 'personal' user.id %}">Личный кабинет</a></li>
            {% elif request.user.is_partner %}
            <li class="last"> {{user.email}} | <a href="{% url 'personal_partner' user.id %}">Личный кабинет</a></li>
            {%endif%}
        {% else %}
        <li class="last"><a href="{% url 'student_register' %}">Регистрация</a> | <a href="{% url 'login'%}">Войти</a></li>
        {% endif %}
        </ul>
        {% endblock mainmenu %}
      </nav>
    </header>
    <div class="main-content">
      {% block content %}
      {% endblock %}
    </div>
    <footer class="footer">
      Ссылки и соц. сети
    </footer>
  </body>

  </html>


