{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'css/zero.css' %}" rel="stylesheet" />
    <title>{{title}}</title>
  </head>

  <body>
    <!-- <nav class="nav">
      {% block mainmenu %}
        <ul class="nav__list">
          <li class="nav__title"><a href="{% url 'index' %}">BASTAU PROJECT</a></li>
          <li><a href="{% url 'index' %}">Главная</a></li>
          {% for item in menu %}
            {% if not forloop.last %}
            <li><a href="{% url item.url_name %}">{{item.title}}</a></li>
            {% else %}
            <li><a href="{% url item.url_name %}">{{item.title}}</a></li>
            {% endif%}
          {% endfor %}
        </ul>
      {% endblock mainmenu %}
    </nav>
    <div class="content">
      <div class="container">
        <main class="main">
          {% block content %}
          {% endblock %}
        </main>  
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        About us
      </div>
    </footer> -->
  <div class="main-page">
    <header class="header">
      <nav class="nav">
        <div class="nav__logo">PROJECT BASTAU</div>
        <ul class="nav__menu">
          <li><a href="#">menuitem</a></li>
          <li><a href="#">menuitem</a></li>
          <li><a href="#">menuitem</a></li>
          <li><a href="#">menuitem</a></li>
          <li><a href="#">menuitem</a></li>
        </ul>
      </nav>
    </header>
    <div class="content">
      <div class="content__title">Мотивационная надпись</div>
      <div class="content__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae iure eveniet quidem magni eos tempore quisquam aliquid! Voluptatibus facere molestiae perspiciatis id, veritatis incidunt pariatur. Repellat ullam accusantium nesciunt vel.</div>
    </div>
    <div class="main-page__footer">Обратиться в поддержку</div>
  </div>
  </body>
</html>