{% extends 'base.html' %}
  {% block content %}
<br><br><br><br>
    {% for item in object_list %}
    {% if item.user_id.user.email == request.user.email %}
    <div class="case">
      <span class="case__title">
       {{item}}
      </span>
      <p>{{item.description}}</p>
      <p>{{item.category}}</p>
      <a href="{% url 'detail_view_for_Partner' item.id %}"><button>Открыть</button></a>
      <a href="{% url 'show_answer' item.id %}"><button>Ответы</button></a>
      <a href="{% url 'case_update' item.id %}"><button>Редактировать</button></a>
      <a href="{% url 'delete_case' item.id %}"><button>Удалить</button></a>
    </div>
    {% endif %}
    {% endfor %}
  {% endblock %}




 