{% extends 'base.html' %}
  {% block content %}

<br><br><br><br><br>

    <form method="post">
      {% if request.user.is_authenticated %}
      {% csrf_token %}
      {{ form.title }} <br>
      {{ form.description }} <br>
      {{ form.category }} <br>
      {{ form.date_of_close }} <br>
      <div class="prikol">{{form.user_id}}</div>
        <span>{{error}}</span>
        <button type="submit">Сохранить</button>
    </form>
      {% else %}
      <p>Вы не авторизированы!</p>
{% endif %}
  {% endblock %}

