{% extends 'base.html' %}
  {% block content %}
{% load widget_tweaks %}
<br><br><br><br><br>
 <div class="container">
      <div class="row">
          <div class="main-cases__item col-8">
            <form action="{% url 'createcase' %}"method="post" class="form-group">


                  {% if request.user.is_authenticated %}
                  {% csrf_token %}
                  {{ form.title }} <br>
                  {{ form.description }} <br>
                  {{ form.category }} <br>
                  {{ form.region }} <br>
                  {{ form.tags }} </span><br>
                  {{ form.date_of_close }} <br>

          {{form.user_id}}
            <span>{{error}}</span>
            <button type="submit" class="btn btn-secondary" data-toggle="tooltip">Сохранить</button>
            </form>
          </div>


         <div class="col main-cases__item">
          {% for item in partners%}
          {% if request.user.is_authenticated == item.user_id.user_id.email %}
        <p>
         {{item}}
        </p>
        {% endif %}
          {% endfor %}

         </div>
          {% else %}
          <p>Вы не авторизированы!</p>
    {% endif %}
     </div>
    </div>
</div>
  {% endblock %}

