{% extends 'base.html' %}
  {% block content %}
<br><br><br><br>
 <div class="container">
     <div class="main-cases">
        <div class="main-cases__item">
            <b><p>{{data.title}}</p></b>
            <p>{{data.description}}</p>
            <p>{{data.file}}</p>
            {% if data.file is True %}
             <p>Файл кейса: <a href="{{data.file.url}}" download=""><button>Скачать файл</button></a></p>
            {% endif %}
            <p>{{data.category}}</p>
            <p>{{data.region}}</p> 
            <a href="{% url 'answer' data.pk %}"><button class="btn btn-outline-secondary">Ответить</button></a>
         </div>
     </div>
     <br><br><br><br><br>
 </div>
 {% endblock %}
