{% extends 'base.html' %}

{% block content %}
<div class="main-page">
  <div class="content">
    <div class="content__title">Мотивационная надпись</div>
    <div class="content__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae iure eveniet quidem magni eos tempore quisquam aliquid! Voluptatibus facere molestiae perspiciatis id, veritatis incidunt pariatur. Repellat ullam accusantium nesciunt vel.</div>
  </div>
  <div class="main-page__footer">Обратиться в поддержку</div>
</div>


{% endblock %}