{% extends 'base.html' %}
{% block content %}
<div class="login-page">
  <div class="container">
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
     <div class="form-error">{{ form.non_field_errors }}</div>

{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}
      <input type="submit" value="Войти" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <a href="{% url 'reset_password' %}">Забыли пароль?</a>
  </div>
</div>


{% endblock %}