{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<section>
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header text-black">
              <h2>Register</h2>
            </div>
            <div class="card-body">
                <form action="{% url 'partner_register' %}" method="POST" novalidate>
                  {% csrf_token %}
                    <div>Email: {{form.email}}</div>
                    <div>Телефон: {{form.phone}}</div>
                    <div>Пароль: {{form.password1}}</div>
                    <div>Подтвердите пароль: {{form.password2}}</div>
                    <div>ФИО: {{form.Fio}}</div>
                    <div>Организация: {{form.name_of_partner}}</div>
                    <div>Сайт: {{form.site}}</div>
                         <input type="submit" value="Register" class="btn btn-block btn-primary">
                       </div>
                </form>
             </div>
                </div>   
            </div>
          </div>
        </div>
    </div>
  </section>

{% endblock %}