{% extends 'base.html' %}

 {% block content %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="prikol">ФИО: {{form.user}}</div>
    <div>ФИО: {{form.Fio}}</div>
    <div>Название организации: {{form.name_of_partner}}</div>
    <div>Сайт: {{form.site}}</div>
    <div>Аватар: {{form.avatar}}</div>
    <div class="prikol">{{form.user_id}}</div>
    <br>
       <input type="submit" value="Update">
</form>
{% for item in object_list %}
    <div class="case">
      <span class="case__title">
       {{item}}
      </span>
      <p>{{item.description}}</p>
      <p>{{item.category}}</p>
        <a href="{{item.id}}"><button>Ответить на кейс</button></a>
    </div>
    {% endfor %}
<a href='/logout/'>Выйти</a>?<br>
<a href='{% url "mycases" %}'>Мои кейсы</a>

  {% endblock %}

