{% extends 'base.html' %}

 {% block content %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div>ФИО: {{form.Fio}}</div>
    <div>Место учебы: {{form.Educational_institution}}</div>
    <div>Возраст: {{form.age}}</div>
    <div>Регион: {{form.region}}</div>
    <div>Специальность: {{form.Direction_of_study}}</div>
    <div>Специальность: {{form.Education}}</div>

    <div>Курс: {{form.Course}}</div>

    <div class="prikol"> {{form.user}}</div>



       <input type="submit" value="Update">
</form>
<a href="{% url 'show_answer_student'%}">Мои ответы</a>
<a href='/logout/'>Выйти</a>?

  {% endblock %}

