{% extends 'base.html' %}

 {% block content %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% if user.role == "Студент" %}
        <div>ФИО: {{form.Fio}}</div>
        <div>Место учебы: {{form.Educational_institution}}</div>
    <div>Дата Рождения: {{form.date_of_birth}}</div>
    <div>Регион: {{form.region}}</div>
    <div>Специальность: {{form.Direction_of_study}}</div>
    <div>Специальность: {{form.Education}}</div>

    <div>Курс: {{form.Course}}</div>

    <div class="prikol"> {{form.user_id}}</div>
    {% else %}
    <div>ФИО: {{form.Fio}}</div>
    <div>Название организации: {{form.name_of_partner}}</div>
    <div>Сайт: {{form.site}}</div>
    <div>Аватар: {{form.avatar}}</div>
    <div class="prikol">{{form.user_id}}</div>
    <br>
    {% endif %}
        <button type="submit">Добавить</button>
</form>
<a href='/logout/'>Выйти</a>?

  {% endblock %}

