{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}
{% load widget_tweaks %}
{% block content %}
{% load static %}

  <section class="reg-page">
      <div class="reg-page__title">

        <h2 class="mb-5">Регистрация</h2>

 <div class="container">
     <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{% static 'img_register/img_partner_register.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Партнер</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text "><div class="main-cases__item__link"><a href="{% url 'partner_register' %}">Перейти к регистрации</a></div></p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="{% static 'img_register/img_student_register.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Студент</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text "><div class="main-cases__item__link"><a href="{% url 'student_register' %}">Перейти к регистрации</a></div></p>
    </div>
  </div>
</div>

 </div>
  </section>


{% endblock %}
