{% extends 'base.html' %}

  {% block content %}
<br><br><br><br>
 <div class="container">
        {% for item in data.cases.all %}
        <table border = "1">
          <tr>
              <td><a href="{% url 'detail_case' item.id_case_id %}">{{item.id_case}}</a></td>
              <td>{{item.id_student_id}}</td>
              <td><a href="{% url 'detail_student' item.id_student_id %}">{{item.id_student}}</a></td>
              <td><a href="{{item.Url}}">Ссылка на файл</a></td>
              <td><a href="{% url 'updatewinner' item.id %}"><button>Выбрать победителя</button></a></td>

              <td>Победитель</td>

          </tr>

        </table>
        {% endfor %}
<br>
 </div>
  {% endblock %}
