{% extends 'base.html' %}
  {% block content %}
<br><br><br><br>
 <div class="container">
        {% for item in object_list %}
        {% if item.id_student.user.email == request.user.email %}
        <table border = "1">
          <tr>
              <td><a href="{% url 'detail_case' item.id_case_id %}">{{item.id_case}}</a></td>
              <td>{{item.id_student}}</td>
              <td><a href="{{item.Url}}" >Ссылка</a></td>
              {% if item.File.url != None%}
              <td><a href="{{item.File.url}}" download=""><button>скачать файл</button></a></td>
              {% endif %}
              <td><a href="{% url 'delete_answer' item.id %}"><button>Удалить</button></a></td>
                {%if item.status == 'Ожидание'%}
              <td>Ваш ответ еще не рассмотрели</td>
                 {%elif item.status == 'Отказ'%}
              <td>К сожалению вы проиралии</td>
               {%elif item.status == 'Победа'%}
              <td>Поздравляем, вы выиграли</td>
              {%endif%}


          </tr>
        </table>
    {% endif %}

    {% endfor %}
 </div>
  {% endblock %}
